<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 bg-pricing">
  <div class="text-100 font-bold text-sm mb-4 text-center">PRICING PLANS</div>
  <div class="font-bold text-5xl mb-4 text-center text-white">
    Get the Best Option Now
  </div>
  <div class="text-200 text-xl mb-6 text-center line-height-3">
    The informative, and brief subheading that builds the interest around the
    created product. The copy encourages user to discover it.
  </div>

  <div class="grid">
    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card text-center"
          style="border-radius: 10px"
        >
          <div class="text-900 icon-bg m-auto flex flex-column">
            <i class="pi pi-star m-auto" style="font-size: 1rem"></i>
          </div>
          <div class="text-primary font-bold mt-3">Option Name</div>
          <span class="font-bold text-5xl text-900 mt-2">$9/month</span>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
          </ul>
          <hr
            class="mb-3 mx-0 border-top-1 border-none surface-border mt-auto"
          />
          <button
            pButton
            pRipple
            label="Get Started"
            class="p-3 w-full p-button-outlined"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 h-full flex flex-column surface-card text-center"
          style="border-radius: 10px"
        >
          <div class="text-900 icon-bg m-auto flex flex-column">
            <i class="pi pi-star m-auto" style="font-size: 1rem"></i>
          </div>
          <div class="text-primary font-bold mt-3">Option Name</div>
          <span class="font-bold text-5xl text-900 mt-2">$19/month</span>
          <div class="text-600 text-md mt-2 text-center line-height-3">
            Good starting point
          </div>
          <p-badge
            styleClass="mt-3"
            [value]="'Most Popular'"
          ></p-badge>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Duis ultricies lacus sed</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button
            pButton
            pRipple
            label="Get Started"
            class="p-3 w-full"
          ></button>
        </div>
      </div>
    </div>

    <div class="col-12 lg:col-4">
      <div class="p-3 h-full">
        <div
          class="shadow-2 p-3 flex flex-column surface-card text-center"
          style="border-radius: 10px"
        >
          <div class="text-900 icon-bg m-auto flex flex-column">
            <i class="pi pi-star m-auto" style="font-size: 1rem"></i>
          </div>
          <div class="text-primary font-bold mt-3">Option Name</div>
          <span class="font-bold text-5xl text-900 mt-2">$29/month</span>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <ul class="list-none p-0 m-0 flex-grow-1">
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Arcu vitae elementum</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Dui faucibus in ornare</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Morbi tincidunt augue</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Duis ultricies lacus sed</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Imperdiet proin</span>
            </li>
            <li class="flex align-items-center mb-3">
              <i class="pi pi-check-circle text-green-500 mr-2"></i>
              <span class="text-900">Nisi scelerisque</span>
            </li>
          </ul>
          <hr class="mb-3 mx-0 border-top-1 border-none surface-border" />
          <button
            pButton
            pRipple
            label="Get Started"
            class="p-3 w-full p-button-outlined"
          ></button>
        </div>
      </div>
    </div>
  </div>
</div>
