.icon-bg {
  border-radius: 128px;
  border: 0px solid var(--White, #fff);
  background: var(--01-primary-50, #eef0fd);
  height: 2rem;
  width: 2rem;
}

.bg-pricing {
  background-color: #3F4EC4;
  background-image: linear-gradient(160deg, #3F4EC4 0%, #9BA6F9 100%);
}
