.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    url("../../assets/bg/girl-desktop.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (max-width: 640px) {
    background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.1)
      ),
      url("../../assets/bg/girl.png");
    background-size: cover;
    background-position: top center;
  }
}

@media (min-width: 1024px) {
  .lg\:w-6 {
    width: 50%;
  }
}

.mobile-checkboxes {
  display: none;
}

@media screen and (max-width: 640px) {
  .mobile-checkboxes {
    display: block;
  }
}

@media screen and (max-width: 640px) {
  .contact-us-card {
    margin-top: 6rem !important;
    width: 90% !important;
    height: auto;
  }
}
